<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shelfi</title>
    <script src="{{ url_for('static', filename='scripts/basic.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon_2.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block nav %}
    <div class="navbar">
        <a href="/" class="logo-text">shelfi</a>

        {% if not session.logged_in %}
            <div class="navbar-right">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        {% else %}
            <div class="navbar-right">
                <div></div>
                <div class="welcome-text">Welcome back, {{session.username}}!</div>
                <!-- <a href="/logout">Logout</a> -->
            </div>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>