{% extends "base.html" %}

{% block content %}

<div class="dashboard">
    <div class="row">
        <div class="child quick-actions">
            <div class="quick-action" onmousedown="expandListForm('join-space-form')">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">door_open</span>
                </div>
                <div class="quick-action-name" id="qa-join">Join Space</div>
            </div>
            <div class="quick-action" onmousedown="focusSpacesList()">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">add_circle</span>
                </div>
                <div class="quick-action-name">New Item</div>
            </div>
            <div class="quick-action" onmousedown="expandListForm('create-space-form')">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">soup_kitchen</span>
                </div>
                <div class="quick-action-name">New Space</div>
            </div>
            <div class="quick-action" onmousedown="expandListForm('create-invite-form')">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">group</span>
                </div>
                <div class="quick-action-name" id="qa-invite">Invite</div>
            </div>

            <div class="join-space-form list-form" data-expanded="false">
                <form id="join-space-form">
                    <input type="text" id="invitation_code" name="invitation_code" required placeholder="Invitation Code">
                    <button type="submit">Join</button>
                </form>
            </div>

            <div class="create-invite-form list-form" data-expanded="false">
                <form id="create-invite-form">
                    <select name="space" id="space">
                        {% for space in spaces %}
                            <option value="{{space.id}}">{{space.name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
        
        <div class="child overview">
            <div class="no-messages-text">
                There are no new notifications.
            </div>
            <!-- <div class="message warning">
                <div class="message-icon">
                    <span class="material-symbols-rounded">warning</span>
                </div>
                <div class="message-text">6 Products are close to being used up.</div>
            </div>
            <div class="message alert">
                <div class="message-icon">
                    <span class="material-symbols-rounded">notification_important</span>
                </div>
                <div class="message-text">There are 27 products exiring soon.</div>
            </div> -->
        </div>
        
        <div class="child spaces">
            <div class="dashboard-child-title">
                My Spaces
            </div>
            <div class="dashboard-child-subtitle">
                Overview of your kitchen spaces
            </div>

            <div class="create-space-button add-list-item-button" onmousedown="expandListForm('create-space-form')">
                <div class="create-space-icon add-list-item-icon">
                    <span class="material-symbols-rounded">add</span>
                </div>
                <div class="create-space-text add-list-item-text">Create New Space</div>
            </div>

            <div class="spaces-list list-items">
                {% for space in spaces %}
                    <a class="space-card list-item-card" href="/space/{{space.id}}">
                        <div class="space-icon-and-name list-item-main">
                            <div class="space-card-icon list-item-icon">
                                <span class="material-symbols-rounded">fork_spoon</span>
                            </div>
                            <div class="space-card-name list-item-name">{{space.name}}</div>
                        </div>
                        <div class="space-card-count list-item-info">{{space.members}} member(s)</div>
                    </a>
                {% endfor %}
            </div>

            <div class="create-space-form list-form" data-expanded="false">
                <form action="/api/create-space">
                    <input type="text" id="space_name" name="space_name" required placeholder="Space Name">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}