{% extends "base.html" %}

{% block content %}

<div class="dashboard">
    <div class="row">
        <div class="child quick-actions">
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">barcode_scanner</span>
                </div>
                <div class="quick-action-name">Scan</div>
            </div>
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">add_circle</span>
                </div>
                <div class="quick-action-name">New Item</div>
            </div>
            <div class="quick-action" onmousedown="expandCreateSpaceForm()">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">soup_kitchen</span>
                </div>
                <div class="quick-action-name">New Space</div>
            </div>
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">group</span>
                </div>
                <div class="quick-action-name">Sharing</div>
            </div>
        </div>
        
        <div class="child overview">
            <div class="message warning">
                <div class="message-icon">
                    <span class="material-symbols-rounded">warning</span>
                </div>
                <div class="message-text">6 Products are close to being used up.</div>
            </div>
            <div class="message alert">
                <div class="message-icon">
                    <span class="material-symbols-rounded">notification_important</span>
                </div>
                <div class="message-text">There are 27 products exiring soon.</div>
            </div>
        </div>
        
        <div class="child spaces">
            <div class="dashboard-child-title">
                My Spaces
            </div>
            <div class="dashboard-child-subtitle">
                Overview of your kitchen spaces
            </div>

            <div class="create-space-button" onmousedown="expandCreateSpaceForm()">
                <div class="create-space-icon">
                    <span class="material-symbols-rounded">add</span>
                </div>
                <div class="create-space-text">Create New Space</div>
            </div>

            <div class="spaces-list">
                {% for space in spaces %}
                <a class="space-card" href="/space/{{space.id}}">
                    <div class="space-icon-and-name">
                        <div class="space-card-icon">
                            <span class="material-symbols-rounded">fork_spoon</span>
                        </div>
                        <div class="space-card-name">{{space.name}}</div>
                    </div>
                    <div class="space-card-count">{{space.members}} member(s)</div>
                </a>
                {% endfor %}
            </div>

            <div class="create-space-form" data-expanded="false">
                <form action="/api/create-space">
                    <input type="text" id="space_name" name="space_name" required placeholder="Space Name">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function expandCreateSpaceForm() {
        // const button = document.querySelector('.create-space-button');
        const form = document.querySelector('.create-space-form');

        
        if (form.getAttribute('data-expanded') === 'false') {
            form.style.transform = "translate(50%, 0%)";
            form.setAttribute('data-expanded', 'true');
        } else {
            form.style.transform = "translate(50%, 100%)";
            form.setAttribute('data-expanded', 'false');
        }
    }
</script>

{% endblock %}