{% extends "base.html" %}

{% block content %}

<div class="dashboard">
    <div class="row two-children">
        <div class="child quick-actions">
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">barcode_scanner</span>
                </div>
                <div class="quick-action-name">Scan</div>
            </div>
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">add_circle</span>
                </div>
                <div class="quick-action-name">New Item</div>
            </div>
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">restaurant</span>
                </div>
                <div class="quick-action-name">Recipes</div>
            </div>
            <div class="quick-action">
                <div class="quick-action-icon">
                    <span class="material-symbols-rounded">group</span>
                </div>
                <div class="quick-action-name">Sharing</div>
            </div>
        </div>
        
        <div class="child overview">
            <div class="message warning">
                <div class="message-icon">
                    <span class="material-symbols-rounded">warning</span>
                </div>
                <div class="message-text">6 Products are close to being used up.</div>
            </div>
            <div class="message alert">
                <div class="message-icon">
                    <span class="material-symbols-rounded">notification_important</span>
                </div>
                <div class="message-text">There are 27 products exiring soon.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}