{% extends "base.html" %}

{% block content %}

<div class="dashboard">
    <div class="row">
        <div class="child space-overview">
            <div class="space-name dashboard-child-title">
                {{ space.name }}
            </div>
            <div class="dashboard-child-subtitle">
                This is your "{{space.name}}" space. Here you can manage food items, organize shopping lists, and keep track of your pantry.
            </div>
            <div class="space-tags">
                <div class="space-tag">
                    <span class="material-symbols-rounded">group</span>
                    {{ space.members }} member(s)
                </div>
                <div class="space-tag">
                    <span class="material-symbols-rounded">verified_user</span>
                    Created by @{{ space.creator }}
                </div>
                <div class="space-tag">
                    <span class="material-symbols-rounded">calendar_clock</span>
                    Created on {{ space.created_at }}
                </div>
                <div class="space-tag">
                    <span class="material-symbols-rounded">bakery_dining</span>
                    {{ items | length }} item(s)
                </div>
                <!--<div class="space-tag">
                    <span class="material-symbols-rounded">shopping_cart</span>
                    {{ shopping_list | length }} item(s) on shopping list
                </div>-->
            </div>
            
            <!-- danger zone like this, but not in here -->
            <!--{% if session.username == space.creator %}
                <a href="/" class="btn btn-danger">
                    Delete Space
                </a>
            {% else %}
                <a href="/" class="btn btn-warning">
                    Leave Space
                </a>
            {% endif %}-->
        </div>

        <div class="child overview">
            <!-- <div class="no-messages-text">
                There are no new notifications.
            </div> -->
            <div class="message warning">
                <div class="message-icon">
                    <span class="material-symbols-rounded">warning</span>
                </div>
                <div class="message-text">There are {{num_expiring_soon}} products expiring soon.</div>
            </div>
            <div class="message alert">
                <div class="message-icon">
                    <span class="material-symbols-rounded">notification_important</span>
                </div>
                <div class="message-text">{{num_expired}} products are already expired.</div>
            </div>
        </div>

        <div class="child space-shopping-list list-view">
            <div class="dashboard-child-title list-title">
                Shopping List
            </div>
            <div class="dashboard-child-subtitle list-subtitle">
                <a onmousedown="clearShoppingList()" class="btn btn-danger">Clear Completed Items</a>
            </div>

            <div class="add-shopping-list-item-button add-list-item-button" onmousedown="expandListForm()">
                <div class="add-shopping-list-item-icon add-list-item-icon">
                    <span class="material-symbols-rounded">add</span>
                </div>
                <div class="add-shopping-list-item-text add-list-item-text">Add New Item</div>
            </div>

            <div class="shopping-list list-items">
                {% for item in shopping_list %}
                    {% if item.visible %}
                    <div class="item-card list-item-card" id="shopping-list-item-{{ item.list_item_id }}">
                        <div class="space-icon-and-name list-item-main">
                            <a class="item-card-checkbox list-item-icon" id="item-card-checkbox-{{ item.list_item_id }}" data-checked="false" onmousedown="checkShoppingListItem({{ item.list_item_id }})">
                                <!-- <div class="item-card-checkbox-filling"></div> -->
                                <div class="item-card-checkbox-filling"></div>
                                {% if item.checked %}

                                    <!-- apply checked class to corresponding list item div -->
                                    <script>
                                        document.getElementById("shopping-list-item-{{ item.list_item_id }}").classList.add("checked-list-item");
                                    </script>
                                {% endif %}
                            </a>

                            <div class="item-card-name list-item-name">{{item.product_name}}</div>
                        </div>
                        <div class="item-card-info list-item-info">added <!--by <span style="font-weight: 700;">@{{item.username}}</span>-->on {{item.created_at}}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="shopping-list-form list-form" data-expanded="false">
                <form id="shopping-list-form" onsubmit="return addItem(event)">
                    <input type="text" id="item_name" name="item_name" required placeholder="Item Name">
                    <button type="submit">Add to list</button>
                </form>
            </div>
        </div>
    </div>

    <!-- <input type="file" id="barcode-scan" accept="image/*" capture="environment"> -->

    <div class="row auto-ratio-row">
        <div class="full-width-child child">
            <div class="dashboard-child-title">
                Items
            </div>
            <div class="dashboard-child-subtitle">
                Items in this space
            </div>

            <div class="add-shopping-list-item-button add-list-item-button" onmousedown="expandBigListForm()">
                <div class="add-shopping-list-item-icon add-list-item-icon">
                    <span class="material-symbols-rounded">add</span>
                </div>
                <div class="add-shopping-list-item-text add-list-item-text">Add New Item</div>
            </div>

            <div class="item-tiles tile-view">
                {% for item in items %}
                <div class="tile item-tile" id="item-tile-{{item.id}}">
                    <div class="tile-content" onmousedown="expandModifyOverlay({{item.id}})">
                        <div class="tile-icon">
                            <span class="material-symbols-rounded">grocery</span>
                        </div>
                        <div class="tile-name">
                            {{item.name}}
                        </div>
                        <div class="tile-date">
                        {% if item.readable_expiration_date %}
                            expires {{item.readable_expiration_date}}
                        {% else %}
                            no expiration date
                        {% endif %}
                        </div>
                        <div class="tile-info">
                            {{item.quantity}} {{item.unit}}
                        </div>
                    </div>

                    <div class="modify-overlay" id="edit-overlay-{{item.id}}" data-expanded="false">
                        <form onsubmit="return modifyItemAmount(event, {{item.id}})">
                            <label for="amount" class="helper-label">New Amount</label>
                            <input type="number" placeholder="New Amount" name="amount" value="{{item.quantity}}" min="0" required>
                            <button>Modify</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="shopping-list-form list-form big-list-form" data-expanded="false">
                <form id="space-item-form" onsubmit="return addItemToSpace(event)">
                    <input type="text" id="space_item_name" required placeholder="Item Name">
                    <label for="expiration_date" class="helper-label">Expiration Date (optional):</label>
                    <input type="date" id="expiration_date">

                    <div class="number-and-option-picker">
                    <input type="number" id="amount" required placeholder="Amount">
                    <select id="unit" required>
                        <option value="Unit" disabled selected>Unit</option>
                        <option value="kg">kg</option>
                        <option value="g">g</option>
                        <option value="ml">ml</option>
                        <option value="l">l</option>
                        <option value="pcs">pcs</option>
                        <option value="cups">cups</option>
                    </select>
                    </div>

                    <button type="submit">Add item to space</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}